@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.x-md-animated-word {
  animation: fadeIn .3s ease-in-out;
}

.x-md-renderer pre{
  margin: 16px 0;
  padding: 0;
  overflow: auto;
  background: transparent !important;
}

.x-md-renderer pre:has(.x-md-code-header-wrapper--sticky) {
  overflow: unset;
}

.katex-error {
  color: var(--el-text-color-secondary) !important;
}
.katex-html {
  overflow: auto hidden;
  padding: 3px;
}
